<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Greetings
			</h1>
		</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns">
            <div class="column is-2 is-offset1">
				
			</div>

			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3">Collabonit - a project management tool</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quo voluptatibus blanditiis quis odit rerum error 
                    laudantium quidem, est tenetur dolorum mollitia, molestiae quibusdam ipsam vero autem modi et nobis.</p>
                    <h4 class="subtitle is-4">Sign Up Today</h4>
				<%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link is-outlined' %>
				</div>
			</div>
			<div class="column is-2 is-offset1">
				
			</div>
		</div>
	</div>
</section>